@use "sass:color";

/* NameBuiltinPseudo */
.chroma .bp {
  color: $peach;
}
/* Comment */
.chroma .c {
  color: $surface2;
}
/* CommentSingle */
.chroma .c1 {
  color: $surface2;
}
/* CommentHashbang */
.chroma .ch {
  color: $surface2;
}
/* CommentMultiline */
.chroma .cm {
  color: $surface2;
}
/* CommentPreproc */
.chroma .cp {
  color: $blue;
}
/* CommentPreprocFile */
.chroma .cpf {
  color: $blue;
}
/* CommentSpecial */
.chroma .cs {
  color: $surface2;
}
/* LiteralStringDelimiter */
.chroma .dl {
  color: $blue;
}
/* NameFunctionMagic */
.chroma .fm {
}
/* Generic */
.chroma .g {
}
/* GenericDeleted */
.chroma .gd {
  color: $text;
  background-color: color.change($red, $alpha: 0.15);
}
/* GenericEmph */
.chroma .ge {
  font-style: italic;
}
/* GenericHeading */
.chroma .gh {
  color: $sky;
}
/* GenericInserted */
.chroma .gi {
  color: $text;
  background-color: color.change($green, $alpha: 0.15);
}
/* GenericUnderline */
.chroma .gl {
}
/* GenericOutput */
.chroma .go {
  color: $peach;
}
/* GenericPrompt */
.chroma .gp {
  color: $overlay0;
  font-weight: bold;
}
/* GenericError */
.chroma .gr {
  color: $maroon;
}
/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}
/* GenericTraceback */
.chroma .gt {
  color: $maroon;
}
/* GenericSubheading */
.chroma .gu {
  color: $sky;
}
/* LiteralNumberIntegerLong */
.chroma .il {
  color: $peach;
}
/* Keyword */
.chroma .k {
  color: $mauve;
}
/* KeywordConstant */
.chroma .kc {
  color: $yellow;
}
/* KeywordDeclaration */
.chroma .kd {
  color: $mauve;
}
/* KeywordNamespace */
.chroma .kn {
  color: $yellow;
}
/* KeywordPseudo */
.chroma .kp {
  color: $mauve;
  font-weight: bold;
}
/* KeywordReserved */
.chroma .kr {
  color: $mauve;
}
/* KeywordType */
.chroma .kt {
  color: $yellow;
}
/* Literal */
.chroma .l {
}
/* LiteralDate */
.chroma .ld {
}
/* LiteralNumber */
.chroma .m {
  color: $peach;
}
/* LiteralNumberBin */
.chroma .mb {
  color: $peach;
}
/* LiteralNumberFloat */
.chroma .mf {
  color: $peach;
}
/* LiteralNumberHex */
.chroma .mh {
  color: $peach;
}
/* LiteralNumberInteger */
.chroma .mi {
  color: $peach;
}
/* LiteralNumberOct */
.chroma .mo {
  color: $peach;
}
/* Name */
.chroma .n {
  color: $lavender;
}
/* NameAttribute */
.chroma .na {
  color: $yellow;
}
/* NameBuiltin */
.chroma .nb {
  color: $peach;
}
/* NameClass */
.chroma .nc {
  color: $yellow;
}
/* NameDecorator */
.chroma .nd {
  color: $pink;
}
/* NameException */
.chroma .ne {
  color: $maroon;
}
/* NameFunction */
.chroma .nf {
  color: $sky;
}
/* NameEntity */
.chroma .ni {
  color: $pink;
}
/* NameLabel */
.chroma .nl {
  color: $yellow;
}
/* NameNamespace */
.chroma .nn {
  color: $yellow;
}
/* NameConstant */
.chroma .no {
  color: $yellow;
}
/* NameTag */
.chroma .nt {
  color: $mauve;
}
/* NameVariable */
.chroma .nv {
  color: $peach;
}
/* NameOther */
.chroma .nx {
  color: $peach;
}
/* Operator */
.chroma .o {
  color: $sky;
}
/* OperatorWord */
.chroma .ow {
  color: $sky;
  font-weight: bold;
}
/* Punctuation */
.chroma .p {
  color: $text;
}
/* NameProperty */
.chroma .py {
}
/* LiteralString */
.chroma .s {
  color: $green;
}
/* LiteralStringSingle */
.chroma .s1 {
  color: $green;
}
/* LiteralStringDouble */
.chroma .s2 {
  color: $green;
}
/* LiteralStringAffix */
.chroma .sa {
  color: $green;
}
/* LiteralStringBacktick */
.chroma .sb {
  color: $green;
}
/* LiteralStringChar */
.chroma .sc {
  color: $green;
}
/* LiteralStringDoc */
.chroma .sd {
  color: $green;
}
/* LiteralStringEscape */
.chroma .se {
  color: $blue;
}
/* LiteralStringHeredoc */
.chroma .sh {
  color: $green;
}
/* LiteralStringInterpol */
.chroma .si {
  color: $green;
}
/* LiteralStringRegex */
.chroma .sr {
  color: $blue;
}
/* LiteralStringSymbol */
.chroma .ss {
  color: $green;
}
/* LiteralStringOther */
.chroma .sx {
  color: $green;
}
/* NameVariableClass */
.chroma .vc {
  color: $yellow;
}
/* NameVariableGlobal */
.chroma .vg {
  color: $peach;
}
/* NameVariableInstance */
.chroma .vi {
  color: $yellow;
}
/* NameVariableMagic */
.chroma .vm {
}
/* TextWhitespace */
.chroma .w {
  color: $surface0;
}
