on:
  push:
    branches: [main]

name: release-please

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: simple

      - uses: actions/checkout@v3

      - uses: denoland/setup-deno@v1
        if: ${{ steps.release.outputs.release_created }}
        with:
          deno-version: v1.x

      - run: deno task build
        if: ${{ steps.release.outputs.release_created }}

      - name: Create tarball
        if: ${{ steps.release.outputs.release_created }}
        run: tar czf catppuccin-gitea.tar.gz --directory=./dist .

      - name: Upload Release Artifacts
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:
          gh release upload ${{ steps.release.outputs.tag_name }} ./artifact/some-build-artifact.zip
